.dashboard-convas {
    // position: fixed;
    // width: 150px;
    // top: 100px;
    // left: 0;
    // bottom: 0;
    // z-index: 1;
    // background-color: rgb(107, 122, 139);
}

ul, ol {
    list-style: none;
}

a {
    cursor: pointer;
    color: black;
    text-decoration: none;

    &:hover {
        color: rgb(175, 39, 39);
    }
}

.list {
    padding-left: 10px;
    
}

.titles {
    margin-top: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

ul {
    text-transform: capitalize;
}

.actions {
    padding-left: 20px;
}

.active {
    color: rgb(175, 39, 39);
}