<!-- <div *ngIf="devService.devsInCart; else loading">
    <div *ngIf="devService.devsInCart.length !== 0; else empty">
        <p *ngFor="let dev of devService.devsInCart">
            {{dev.id}} - 
            {{dev.dem}} - 
            {{dev.model}} - 
            {{dev.sn}}
        </p>
    </div>
    <ng-template #empty>
        <p>Cart is empty</p>
    </ng-template>

    <button class="btn" (click)="devService.clearCart()">Clear cart</button>
</div>
<ng-template #loading>
    <p>Cart loading...</p>
</ng-template> -->