<div *ngIf="!errorMessage; else accessRejection">

    <div class="filters">
        <input type="text" placeholder="last name filter" [(ngModel)]="lastNameFilter">
        <input type="text" placeholder="loginfilter" [(ngModel)]="loginFilter">
    </div>

    <table *ngIf="users; else loadingUsers">
        <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Login</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | userFilter:lastNameFilter:loginFilter">
                <td>{{user.lastName}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.middleName}}</td>
                <td><a [routerLink]="['/users', 'update', user.id]">{{user.login}}</a></td>
                <td class="options-column"><a class="danger" (click)="remove(user.id)">&times;</a></td>
            </tr>
        </tbody>
    </table>
    <ng-template #loadingUsers>
        <p>Loading users...</p>
    </ng-template>
</div>
<ng-template #accessRejection>
    <p [ngStyle]="{'padding-left': '20px'}">{{errorMessage}}</p>
</ng-template>
