button {
    padding: 0 4px 0 4px;
    margin-right: 2px;
    background: none;
    border: none;
    cursor: pointer;
}

.area {
    overflow: auto;
    // border: 1px solid red;
    height: 304px;
}

